<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <div style="border: 0px;" class="card">
        <div class="container">
            <h5>Contact Info</h5>
            <hr>
            <p style="color: grey">
                Presently in Chandigarh <br>

                Email: cu.17bcs1685@gmail.com <br>
                Phone: +91 6280823626 <br>
                <a href="https://www.instagram.com/amit_as_fk">
                    <i style="font-size: 30px;color: #7b1fa2;"class="fa fa-instagram"></i>
                </a>

                <a href="https://twitter.com/Amit90655881">
                  <i style="font-size: 30px; color: #7b1fa2"class=" ml-2 fa fa-twitter"></i>
              </a>

                
            </p>
            
        </div>
      </div>
    </div>
  </div>
</div>