<mat-expansion-panel class="mt-5" expanded = "true" style=" background : white" disabled = "false">
 
    
    <h5 style="color: black">Education</h5>
    <hr>

    <ul class = "list-group">
      <li style="border-left: 2px solid #7b1fa2; color : black;" class="list-group-item"> B.E - 2017 - 2021
        <hr>
        <p style="color: grey">
            Computer Science , Chandigarh University
        </p>
      </li>

      <li style="border-left: 2px solid #7b1fa2; color : black;" class="list-group-item mt-4"> Class XII 
        <hr> 
        <p style="color: grey">
              J.P World School Jammu
          </p>
      </li>

      <li style="border-left: 2px solid #7b1fa2; color : black;" class="list-group-item mt-4"> Class X 
          <hr> 
          <p style="color: grey">
                J.P World School Jammu
            </p>
        </li>
  

    </ul>



    <h5 class="mt-4" style="color:         and Node 2019 call_made
    Certified Web Developer 2018 call_made
    Python call_made
    Angular 2018 call_madeblack">Skills</h5>
    <hr>

    <ul class = "list-group">
      <li style="border-left: 2px solid #7b1fa2; color : black;" class="list-group-item"> 
     
        <div class="row">
          <div class="col-md-2">
              <span style="font-size:21px; color: grey">Java</span>
          </div>
          <div class="col-md-6">
              <p style="color: grey">
                  <mat-icon style="display : inline">radio_button_checked</mat-icon>
                  <mat-icon style="display: inline;">radio_button_checked</mat-icon>
                  <mat-icon style="display: inline;">radio_button_checked</mat-icon>
                  <mat-icon style="display: inline;">radio_button_checked</mat-icon>
                  <mat-icon  style="display: inline;">radio_button_unchecked</mat-icon>
                </p>
          </div>
    
          
        </div>

        <div class="row">
            <div class="col-md-2">
                <span style="font-size:21px; color: grey">Node</span>
            </div>
            <div class="col-md-6">
                <p style="color: grey">
                    <mat-icon style="display : inline">radio_button_checked</mat-icon>
                    <mat-icon style="display: inline;">radio_button_checked</mat-icon>
                    <mat-icon style="display: inline;">radio_button_checked</mat-icon>
                    <mat-icon style="display: inline;">radio_button_checked</mat-icon>
                    <mat-icon  style="display: inline;">radio_button_unchecked</mat-icon>
                  </p>
            </div>
      
            
          </div>

          <div class="row">
              <div class="col-md-2">
                  <span style="font-size:21px; color: grey">Mongo DB</span>
              </div>
              <div class="col-md-6">
                  <p style="color: grey">
                      <mat-icon style="display : inline">radio_button_checked</mat-icon>
                      <mat-icon style="display: inline;">radio_button_checked</mat-icon>
                      <mat-icon style="display: inline;">radio_button_checked</mat-icon>
                      <mat-icon style="display: inline;">radio_button_unchecked</mat-icon>
                      <mat-icon  style="display: inline;">radio_button_unchecked</mat-icon>
                    </p>
              </div>
        
              
            </div>


            <div class="row">
                <div class="col-md-2">
                    <span style="font-size:21px; color: grey">Express</span>
                </div>
                <div class="col-md-6">
                    <p style="color: grey">
                        <mat-icon style="display : inline">radio_button_checked</mat-icon>
                        <mat-icon style="display: inline;">radio_button_checked</mat-icon>
                        <mat-icon style="display: inline;">radio_button_checked</mat-icon>
                        <mat-icon style="display: inline;">radio_button_checked</mat-icon>
                        <mat-icon  style="display: inline;">radio_button_unchecked</mat-icon>
                      </p>
                </div>
          
                
              </div>


              <div class="row">
                  <div class="col-md-2">
                      <span style="font-size:21px;color: grey">Bootstrap</span>
                  </div>
                  <div class="col-md-6">
                      <p style="color: grey">
                          <mat-icon style="display : inline">radio_button_checked</mat-icon>
                          <mat-icon style="display: inline;">radio_button_checked</mat-icon>
                          <mat-icon style="display: inline;">radio_button_checked</mat-icon>
                          <mat-icon style="display: inline;">radio_button_checked</mat-icon>
                          <mat-icon  style="display: inline;">radio_button_unchecked</mat-icon>
                        </p>
                  </div>
            
                  
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <span style="font-size:21px; color: grey">Python</span>
                    </div>
                    <div class="col-md-6">
                        <p style="color: grey">
                            <mat-icon style="display : inline">radio_button_checked</mat-icon>
                            <mat-icon style="display: inline;">radio_button_checked</mat-icon>
                            <mat-icon style="display: inline;">radio_button_checked</mat-icon>
                            <mat-icon style="display: inline;">radio_button_unchecked</mat-icon>
                            <mat-icon  style="display: inline;">radio_button_unchecked</mat-icon>
                          </p>
                    </div>
              
                    
                  </div>

                  <div class="row">
                      <div class="col-md-2">
                          <span style="font-size:21px; color: grey" >Git</span>
                      </div>
                      <div class="col-md-6">
                          <p style="color: grey">
                              <mat-icon style="display : inline">radio_button_checked</mat-icon>
                              <mat-icon style="display: inline;">radio_button_checked</mat-icon>
                              <mat-icon style="display: inline;">radio_button_checked</mat-icon>
                              <mat-icon style="display: inline;">radio_button_checked</mat-icon>
                              <mat-icon  style="display: inline;">radio_button_checked</mat-icon>
                            </p>
                      </div>
                
                      
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <span style="font-size:21px; color: grey" >HTML</span>
                        </div>
                        <div class="col-md-6">
                            <p style="color: grey">
                                <mat-icon style="display : inline">radio_button_checked</mat-icon>
                                <mat-icon style="display: inline;">radio_button_checked</mat-icon>
                                <mat-icon style="display: inline;">radio_button_checked</mat-icon>
                                <mat-icon style="display: inline;">radio_button_checked</mat-icon>
                                <mat-icon  style="display: inline;">radio_button_checked</mat-icon>
                              </p>
                        </div>
                  
                        
                      </div>
                    </li>

     





      

    </ul>


    <h5 class="mt-4" style="color: black">Work Experience</h5>
    <hr>
<ul class="list-group mt-3">
    <li style="border-left: 2px solid #7b1fa2; color : black;" class="list-group-item"> 
      <span style="font-size: 18px ;color : grey; " >Rate My Singing(virtual) : March 2019- July 2019</span>
 
      <p class = "mt-1"style="color : grey;">I worked Virtually here as a Frontend Developer. My roles were to Design the responsiveness of website and developing the UI using Angular 2  </p> 
  </li>
</ul>  


<h5 class="mt-4" style="color: black">Projects</h5>
    <hr>
<ul class="list-group mt-3">
    <li style="border-left: 2px solid #7b1fa2; color : black;" class="list-group-item"> 
      <span  ></span>
 
      <a style="font-size: 18px ;color : grey; "href = "https://recipe-app-24479.firebaseapp.com/home">Recipe App<mat-icon style="font-size: 15px;  " >call_made</mat-icon></a> 

      <p style="color: grey">Languages And Frameworks Used</p>
      <ul style="color: grey">
        <li>
          Angular 2

        </li>
        <li>
          Bootstrap
          
        </li>
        <li>
          Firebase
          
        </li>
        <li>
         Materlialize css
          
        </li>
      </ul>
    </li>

    <h5 class="mt-3" style="color: black">Tranings</h5>

<li style="border-left: 2px solid #7b1fa2; color : black;" class="list-group-item">
  
<ul style="color: grey">
  <li>
    <a style="   text-decoration: none; text-decoration-color: none; text-decoration-style: none ; color: gray" href="https://drive.google.com/file/d/1jrFAJT-OimsyV0tlvd6LuPGPDQE7gOnl/view?usp=drivesdk">Angular and Node 2019  <mat-icon style="font-size: 15px; " >call_made</mat-icon> </a>
   
  </li>
  <li>
    <a style="text-decoration: none; text-decoration-color: none; text-decoration-style: none ; color: gray"  href="https://drive.google.com/file/d/1jrFAJT-OimsyV0tlvd6LuPGPDQE7gOnl/view?usp=drivesdk">Angular and Node 2019 <mat-icon style="font-size: 15px; " >call_made</mat-icon></a>
  </li>
  <li>
    <a style="text-decoration: none; text-decoration-color: none; text-decoration-style: none ; color: gray"  href="https://drive.google.com/file/d/1zGxduMWOses3zFCZHElV1RP2gTZ8tP9q/view?usp=sharing">Certified Web Developer 2018 <mat-icon style="font-size: 15px; " >call_made</mat-icon></a>
  </li>
  <li>
    <a style="text-decoration: none; text-decoration-color: none; text-decoration-style: none ; color: gray" href="https://drive.google.com/file/d/14rGwxDskW7Ch-Efgu50Wy9yTZBER4mpW/view?usp=sharing">Python <mat-icon style="font-size: 15px; " >call_made</mat-icon></a>
  </li>

  <li>
    <a style="text-decoration: none; text-decoration-color: none; text-decoration-style: none ; color: gray" href="https://drive.google.com/file/d/1OtGtgey9C0sK9Zbo8cQyfOxe42xNMwqG/view?usp=sharing"  target="_black">Angular 2018 <mat-icon style="font-size: 15px; " >call_made</mat-icon></a>
  </li>

  </ul>
  
</li>




</ul>  

  
  </mat-expansion-panel>
