<div class="container">
  <div class="row">
   
   
    <div class="col-md-3 col-sm-5 mt-3">
      <img class="img-fluid" src="https://doc-10-8s-docs.googleusercontent.com/docs/securesc/nof4vn9cdb4v88ppbcefmuab29rjp3lo/fu6r9jmcamski99mf648n6m3j6ospsep/1570521600000/12264873669519984380/12264873669519984380/1tImWMRyDkHwOKeEo8PLMjvEJkrtJkY24?e=view&nonce=blsbg429122au&user=12264873669519984380&hash=19fct2a0l4d8pueroe7dtp7mj3h75k4o" alt="">
    </div>

    <div class="col-md-5 mt-5">
<p style="color: grey">
        
    A Developer with strong passion for self-improvement.
    I have strong Problem Solving skills. I love Programming and solving new problems Everyday.
   I work efficiently both as an individual contributor as well as along with a team.
    I seek new challenges and try to think out-of-the-box while looking for creative solutions to a given problem. 
</p>

<div style="box-shadow: 1px solid grey" class="card">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <span style="color: grey"> <b>Name </b> : Amit Thakur</span>
  <br>
        <span style="color: grey"><b>Email </b> : cu.17bcs1685@gmail.com</span>
        <br>
        <span style="color:gray"><b>Git </b> : https://bitbucket.com/amitasking</span>
      </div>
   
     
    </div>
  </div>
  
      </div>
  </div>
  
    

    </div>



</div>